<div class="main-panel-header main-panel-recover-password">
    <span class="main-panel-header-label">¿Olvidaste tu contraseña?</span>
    <!--Message-->
    <span class="main-panel-header-message">
      Ingrese su dirección de correo electrónico para restablecer la contraseña.
    </span>
  </div>
  <!--Form-->
  <form id="formRecoverPassword" #formRecoverPassword="ngForm" name="formRecoverPassword" class="main-panel-form main-panel-form-recover">
    <div class="main-panel-form-wrapper">
      <div class="row no-margin-bottom">
        <div class="col s12">
          <div class="input-field input-field-medium">
            <input mz-input autocomplete="off" [label]="'Correo electrónico'" type="email" name="email" [(ngModel)]="email" required
              #formInputemail="ngModel" ngvemail>
            <span class="help-block danger" *ngIf="formInputemail.touched &&
          formInputemail.errors?.required">
              Debe ingresar su correo electrónico
            </span>
            <span class="help-block danger" *ngIf="formInputemail.touched && formInputemail.errors?.email">
              Oops! correo electrónico invalido.
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--Button-->
    <div class="row no-margin-bottom">
      <div class="col s12">
        <div class="main-panel-form-button">
          <button class="btn btn-medium btn-light"
          [disabled]="!formRecoverPassword.valid" (click)="recover()">Restablecer contraseña</button>
        </div>
      </div>
    </div>
  </form>
  <!--Footer-->
  <div class="main-panel-footer">
    <div class="main-panel-footer-link ">
      <a href="javascript:void(0)" [routerLink]="['../']">Volver a iniciar sesión</a>
    </div>

  </div>
