//Workflow Layout
.layout-workflow {
    background: #fff;
    overflow: hidden;

    main {
        height: 100vh;
        display: flex;

        #main-content {
            width: 100%;

            &.sidenav-right-closed {
                padding-right: 0;
            }

            .screen-view {
                padding-right: 350px;
                width: 100%;
                height: calc(100vh - 116px);
                transition: all 0.3s ease;

                &.sidenav-right-closed {
                    padding-right: 0px;
                }

                &.sidenav-right-compress {
                    padding-right: 0px;
                }
            }

            @include mq($from: wide) {
                .screen-view {
                    padding-left: 350px;
                }
            }


            @include mq($until: desktop) {
                .screen-view {
                    padding-right: 0px;
                }

                .draft-screen-view {
                    //padding-top:50px;
               
                }
            }
        }
    }
}

//Layout to sidenav compressed
//Workflow Layout
.layout-workflow-sidenav {
    background: #fff;
    overflow: hidden;

    main {
        height: 100vh;
        display: flex;

        #main-content {
            width: 100%;

            .screen-view {
                padding-right: 350px;
                width: 100%;
                height: calc(100vh - 116px);
                transition: all 0.3s ease;

                &.sidenav-right-compress {
                    padding-right: 80px;
                }
            }
        }
    }
}

// Layout workflow
.layout-workflow-compress {
    background: #fff;
    overflow: hidden;

    main {
        height: 100vh;
        display: flex;

        #main-content {
            width: 100%;

            .screen-view {
                padding-right: 350px;
                padding-left: 350px;
                width: 100%;
                height: calc(100vh - 90px);
                transition: all 0.3s ease;

                &.sidenav-right-compress {
                    padding-right: 80px;
                }

                &.sidenav-left-compress {
                    padding-left: 0px;
                }
            }

            @include mq($until: desktop) {
                .screen-view {
                    padding-left: 0px;
                    padding-right: 80px;
                }
            }
        }
    }
}

//Piece Header
.workflow-primary-header {
    position: relative;
    display: block;
    height: 70px;
    margin: 0 auto;

    .workflow-primary-header-menu {
        display: inline-block;
        float: right;
        margin: 0;
        padding-top: 10px;

        > li {
            display: inline-block;
            float: left;

            > a {
                font-weight: $font-regular;
                font-size: 12px;
                color: $primary-color;
                letter-spacing: 0.1px;
                line-height: 15px;
                height: 15px;
                padding: 0 5px;
                display: block;

                &:hover,
                &.active {
                    color: $purple-color-light;

                    > i {
                        &:not(.disabled-default) {
                            svg {
                                path {
                                    fill: $purple-color-light;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.workflow-primary-content {
    height: calc(100vh - 160px);
}

//Closing view
.core-close-upload-image{
    position: absolute;
    right: 40px;
    top: 25px;
    .core-upload-image-btn{
        display: block;
        background: rgba(15,15,15,0.46);
        border-radius: 2px;
        width: 36px;
        height: 30px;
        color:#fff;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        > i{
            height: 30px;
            line-height: 31px;
            display: inline-block;
        
        }
        &:hover{
            cursor: pointer;
            background: rgba(15,15,15,1);
        }
    }
    
}
.layout-visual-closing {
    .visual-closing-brand {
        padding-top: 29px;
        padding-left: 40px;

        .visual-closing-brand-link {
            line-height: 21px;
            font-weight: $font-light;
            font-size: 18px;
            color: $primary-color;
            margin: 0;
            padding-left: 32px;
            position: relative;

            .icon-svg {
                position: absolute;
                left: -2px;
                top: 0;

                svg {
                    height: 20px;

                    path {
                        fill: $primary-color;
                    }
                }
            }

            @include mq($until: desktop) {
                .visual-closing-logo-text {
                    // display: none;
                }
            }


        
        }
    }

    .layout-visual-closing-overlay {
        background: url("assets/img/back-draft-closing.jpg");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: calc(100% - 720px);
        min-width: 40%;
        z-index: 1;

        @include mq($until: desktop) {
            // width: 100%;
            background-size: cover;
        } //Header Left
   
    }

    .layout-visual-closing-wrapper {
        position: relative;
        z-index: 2;
        width: 720px;
        max-width: 60%;
        height: 100vh;
        background: #fff;
        margin-left: auto;

        .visual-brainy-object-sidenav {
            height: 100vh;
        }
    }
}

.interface-navigation {
    height: 60px;
    position: relative;
    z-index: 3;

    .interface-navigation-content {
        background-color: $primary-background-color;
        position: fixed;
        height: 60px;
        width: 100%;
        text-align: center;
        left: 0; //   padding: 0px 79px;
        .interface-navigation-wrapper {
            //   max-width: 1326px;
            height: 100%;
            margin: 0 auto;
            position: relative;

            .interface-navigation-back {
                position: absolute;
                left: 0px;
                top: 30px;

                > a {
                    color: $primary-color;
                    line-height: 24px;
                    font-size: 12px;
                    letter-spacing: 0.04px;
                    display: inline-block;

                    > i {
                        font-size: 20px;
                        float: left;
                        margin-right: 10px;
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .back-to {
                position: absolute;
                left: 0px;
                font-weight: $font-regular;
                font-size: 12px;
                color: $primary-color;
                padding-top: 30px;

                // text-transform: lowercase;
                > i {
                    font-size: 12px;
                    margin-right: 10px;
                    float: left;

                    > svg {
                        polygon {
                            fill: $primary-color;
                        }
                    }
                }

                &:hover {
                    opacity: 0.8;
                }

                @include mq($until: desktop) {
                    //   left: 0;
                }
            }

            .navigation {
                display: inline-block;
                margin: 0;
                padding-top: 20px;

                > li {
                    padding: 0 20px;
                    float: left;
                    display: inline-block;

                    &.disabled {
                        pointer-events: none;
                        opacity: 0.5;
                    }

                    > a {
                        display: inline-block;
                        font-weight: $font-regular;
                        font-size: 16px;
                        color: rgba(79, 92, 105, 0.6);
                        letter-spacing: 0.33px;
                        line-height: 19px;
                        padding: 0 4px 4px 4px;
                        border-bottom: 2px solid transparent;

                        &.active {
                            color: $purple-color;
                            border-bottom-color: $purple-color;
                        }

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        @include mq($from: wide) {
            //padding: 0px 20px;
        }
    }
}

//Interface layout
.layout-interface {
    //Content
    .interface-content {
        flex: auto;
        width: 100%;
        padding: 0 62px;
        position: relative;
    } //Interface with footer
    &.layout-with-footer {
        min-height: calc(100vh - 114px);
    }

    &.bg-white {
        background: #fff;
    }
}

.interface-footer {
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.15px;

    p {
        margin: 0;
        padding: 50px 0;
        text-align: center;
        color: rgba($primary-color, 0.4);
    }

    &.invested {
        background-color: #fff;
    }
}

.paper-bin-floating {
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.13);
    border-radius: 100px;
    width: 42px;
    height: 29px;
    z-index: $z-index-sidenav-secondary - 2;
    position: fixed;
    right: 88px;
    bottom: 42px;
    text-align: center;
    line-height: 29px;
    transition: all .3s ease;

    &:hover {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);

        > i {
            svg {
                #Group-16-Copy-2 {
                    fill: $purple-color-light;
                }
            }
        }
    }
}

.brainy-empty-message {
    text-align: center;
    padding-top: 30px;

    img {
        margin-bottom: 41px;
        max-width: 100%;
        max-height: calc(100vh - 540px);
    }

    .title {
        text-align: center;
        margin: 0 0 17px 0;
        font-weight: $font-light;
        font-size: 36px;
        letter-spacing: 0.56px;
        line-height: 42px;
        opacity: 0.6;
    }

    .message {
        margin: 0;
        font-weight: $font-light;
        font-size: 18px;
        color: $primary-color;
        text-align: center;
        line-height: 21px;

        > a {
            color: $purple-color-light;
        }
    }
}
