<app-mz-modal-brainy #modal [options]="modalOptions" [modalId]="'modal-alert-template-library'" [modalClass]="'modal-vertically-center modal-delete'">
  <!--Close-->
  <a href="javascript:void(0)" class="modal-close-btn modal-close">
    <i class="icon-svg" [inlineSVG]="'assets/img/commons/ico_closed_medium.svg'"></i>
  </a>
  <div class="modal-content-table">
    <div class="modal-content-cell">
      <div class="modal-content-cell-container">
        <!--Message-->
        <p class="message">
          Desde ahora el template sera visible para <br>
          tu equipo de trabajo
        </p>
        <div class="modal-content-buttons">
          <button class="btn btn-medium-large btn-outline-line cancel  modal-close">
            NO, CANCELAR
          </button>
          <!--btn-outline-line accept-->
          <button class="btn btn-medium-large
                 last-button" [disabled]="btnLoading" [appBtnLoading]="btnLoading"
            (click)="accept()">
            {{ btnLoading ? 'AGREGANDO': 'SI, ACEPTAR'}}
          </button>


        </div>

      </div>
    </div>
  </div>
</app-mz-modal-brainy>