<div class="main-panel-header main-panel-recover-password">
    <span class="main-panel-header-label">Recuperar contraseña</span>
    <!--Message-->
    <span class="main-panel-header-message">
      Ingrese y confirme nueva contraseña
    </span>
    <span class="main-panel-header-message message-login" *ngIf="message">
        <span  class="help-block {{messageType}}">{{message}}</span>
      </span>
  </div>
  <!--Form-->
  <form id="formRecoverPassword" #formRecoverPassword="ngForm" name="formRecoverPassword" class="main-panel-form main-panel-form-recover">
    <div class="main-panel-form-wrapper">
      <div class="row no-margin-bottom">
        <div class="col s12">
          <div class="input-field input-field-medium input-field-password">
            <input mz-input [label]="'Contraseña'" type="password" name="password" [(ngModel)]="user.password" [minlength]="8" #password="ngModel"
            required
            >

            <span class="character-count" *ngIf="(8 - user.password.length) > 0">
              {{8 - user.password.length}}+ caracteres
            </span>
            <span class="character-count valid" *ngIf="(8 - user.password.length) <= 0">
              <i [inlineSVG]="'assets/img/status/ico_to_be_approved.svg'" class="status-icon counter-svg"></i>
            </span>

            <span class="help-block error" *ngIf="password.touched  &&
                    password.errors?.minlength">
              Su contraseña debe tener al menos 8 caracteres.
            </span>
          </div>
        </div>
        <!--Password confirm-->
        <div class="col s12">
            <div class="input-field input-field-medium input-field-password">
              <input mz-input [label]="'Confirma contraseña'"
              type="password"
              name="passwordConfirm"
              [(ngModel)]="user.passwordConfirm"
              [minlength]="8"
              [equalTo]="password"
              required
              #passwordConfirm="ngModel">


              <span class="help-block error" *ngIf="passwordConfirm.touched  &&
              passwordConfirm.errors?.equalTo">
                Las contraseñas deben coincidir
              </span>
            </div>
          </div>
      </div>
    </div>
    <!--Button-->
    <div class="row no-margin-bottom">
      <div class="col s12">
        <div class="main-panel-form-button">
          <button class="btn btn-medium btn-light"
          [disabled]="!formRecoverPassword.valid || btnDisabled" (click)="change()">Restablecer contraseña</button>
        </div>
      </div>
    </div>
  </form>
  <!--Footer-->
  <div class="main-panel-footer">
    <div class="main-panel-footer-link ">
      <a href="javascript:void(0)" [routerLink]="['/public/login']">Volver a iniciar sesión</a>
    </div>

  </div>
