<!-- start header nav-->
<div class="navbar-default navbar-fixed ">
    <nav class="interface-nav">
      <div class="nav-wrapper ">
        <!--Workflow header meeting note-->
        <app-meeting-note-workflow-header
          [core]="meetingNote" 
          [coreStatuses]="coreStatuses" 
          [editable]="editable" 
          [canApprove]="canApprove"
          [shareAndApprove]="canShare && isApprover"
           (workflowOnApprove)="workflowOnApprove()"
          (workflowOnDisapprove)="workflowOnDisapprove()" 
          (workflowOnChangeStatus)="workflowOnChangeStatus($event)">
        </app-meeting-note-workflow-header>
        <app-workflow-header-menu 
          [isApprover]="isApprover" 
          [canShare]="canShare" 
          [shareAndApprove]="canShare && isApprover"
          (workflowOnApprove)="workflowOnApprove()"
         (workflowOnShare)="share()">
        </app-workflow-header-menu>
        
        <app-meeting-note-toolbar-main
          [isAdmin]="isAdmin"
          [editable]="editable"
          [workspaceAccess]="workspaceAccess" 
          [meetingNote]="meetingNote"
          [dropdownId]="'toolbar-main'" 
          [btnId]="'btn-toolbar-main'"
          [dropdownClass]="'dropdown-toolbar'" 
          [gutter]="0" [belowOrigin]="true" 
          (toolbarOnEdit)="editTitle()" 
          (toolbarOnDownload)="download()"
          (toolbarOnDelete)="delete()" 
          (toolbarOnSearchComments)="searchComments()" 
          (toolbarOnCancel)="cancel()"
          (toolbarOnResume)="resume()"
          >
        </app-meeting-note-toolbar-main>
        -->
      </div> 
  
    </nav>
  </div>
  <ng-container *ngIf="meetingNote && meetingNote.id">
    <!--Modal download-->
    <app-modal-download-project></app-modal-download-project>
    <!--Modal cancel project-->
    <app-modal-cancel-meeting-note
    #modalCancel
    [meetingNote]="meetingNote"
    (modalOnCancel)="modalOnCancel()"
    (modalOnProgram)="modalOnProgram()"
    >
  </app-modal-cancel-meeting-note>
    <!--Modal delete-->
    <app-modal-delete-core
    #modalDelete
    [core]="meetingNote"
    (modalOnDelete)="modalOnDelete()"
    ></app-modal-delete-core>
    <!--Modal dissaprove-->
    <app-modal-disapprove-core
    #modalDisapprove
    [core]="meetingNote"
    (modalOnDisapprove)="modalOnDisapprove($event)"
    ></app-modal-disapprove-core>
    <!--Modal Share-->
    <!--Share-->
  <app-modal-share-participants
      #modalShare 
      [workspaceAccess]="workspaceAccess" 
      [showShareLink]="true" 
      [invitationLevelId]="'core'"
      [objectType]="'meeting-note'" 
      [invitationReferenceId]="meetingNote.id" 
      (onCloseModal)="onCloseModalShare($event)">
  </app-modal-share-participants>
  <!--Search comments-->
  <app-comment-thread-sidenav-search #sidenavSearchComments 
  [workspaceAccess]="workspaceAccess"
  [coreId]="meetingNote.id"
  [commentThreadStatuses]="commentThreadStatuses"
  [commentThreadTypes]="commentThreadTypes"
  ></app-comment-thread-sidenav-search>
  </ng-container>
  