@import "perfect-scrollbar/theme";
.ps-content {
    width: 100%;
    height: 100%;
}

.scroller {
    overflow-y: hidden;
    position: relative;
}

.perfect-scrollbar {
    overflow: hidden;
    position: relative; //float: left;
    width: 100%;
}
.perfect-scrollbar-always-visible{
    position: relative;
}

.perfect-scrollbar.on-top {
    /* bottom: 3px; */
    @extend .perfect-scrollbar;
    .ps-scrollbar-x-rail {
        top: 0px;
    }
}
