.layout-visual-closing-meeting-note {
    .visual-closing-brand {
        position: absolute;
        .visual-closing-brand-link {
            color: #fff;
            .icon-svg {
                svg {
                    height: 20px;

                    path {
                        fill: #fff;
                    }
                }
            }



        
        }
    }
}