<div class="feedback-left-sidenav " [ngClass]="{'compressed':compressed}">
  <div class="feedback-pieces-carousel">

      <div class="feedback-pieces-carousel-container">

          <!--Add Item-->
          <div class="feedback-piece-carousel-item-add" >
            <div class="feedback-piece-carousel-item-content">
              <i [inlineSVG]="'assets/img/feedback/icono_more.svg'"></i>
            </div>
          </div>
      </div>


  </div>

</div>

<a class="btn-back-sidenav left-position" href="javascript:void(0)"  [ngClass]="{'direction-right':compressed}">
  <i class="icon-svg icon-arrow" [inlineSVG]="'assets/img/sidenav/ico_arrow.svg'"></i>
</a>
