
  <ng-container [ngSwitch]="briefCategoryItem.responseType.key">
      <ng-content></ng-content>
      <!--Text-->
      <div 
        class="brief-response-type-wrapper"
        *ngSwitchCase="'text'" 
        app-brief-response-text 
        [briefCategoryItem]="briefCategoryItem" 
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onContentFocus)="responseFocus()"
      ></div>
      <!--Text Large-->
      <div 
      class="brief-response-type-wrapper"
        *ngSwitchCase="'text-large'"
        app-brief-response-text 
        [briefCategoryItem]="briefCategoryItem" 
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onContentFocus)="responseFocus()"
      ></div>
      <!--Checkbox-->
      <div 
      class="brief-response-type-wrapper"
        *ngSwitchCase="'checkbox'"
        app-brief-response-checkbox
        [briefCategoryItem]="briefCategoryItem" 
        [editable]="editable"
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onSettingsChange)="changeResponseSettings($event)"
        (onContentFocus)="responseFocus()"
      ></div>
      <!--Radio-->
      <div 
      class="brief-response-type-wrapper"
        *ngSwitchCase="'radio'"
        app-brief-response-radio
        [briefCategoryItem]="briefCategoryItem" 
        [editable]="editable"
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onSettingsChange)="changeResponseSettings($event)"
        (onContentFocus)="responseFocus()"
      ></div>
      <!--Select-->
      <div 
      class="brief-response-type-wrapper"
        *ngSwitchCase="'select'"
        app-brief-response-select
        [briefCategoryItem]="briefCategoryItem" 
        [editable]="editable"
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onSettingsChange)="changeResponseSettings($event)"
        (onContentFocus)="responseFocus()"
      ></div>
      <!--List-->
      <div 
      class="brief-response-type-wrapper"
        *ngSwitchCase="'list'"
        app-brief-response-list
        [briefCategoryItem]="briefCategoryItem" 
        [editable]="editable"
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onSettingsChange)="changeResponseSettings($event)"
        (onContentFocus)="responseFocus()"></div>

      <!--Yes no-->
      <div 
      class="brief-response-type-wrapper"
        *ngSwitchCase="'yes-no'"
        app-brief-response-yes-no
        [briefCategoryItem]="briefCategoryItem" 
        [editable]="editable"
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onSettingsChange)="changeResponseSettings($event)"
        (onContentFocus)="responseFocus()"></div>
        <!--Table-->
        <div 
        class="brief-response-type-wrapper"
        *ngSwitchCase="'table'"
        app-brief-response-table
        [briefCategoryItem]="briefCategoryItem" 
        [tableCellTypes]="tableCellTypes"
        [editable]="editable"
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onSettingsChange)="changeResponseSettings($event)"
        (onContentFocus)="responseFocus()"></div>
        <!--Ascendent-->
        <div 
        class="brief-response-type-wrapper"
        *ngSwitchCase="'ascendent'"
        app-brief-response-ascendent
        [briefCategoryItem]="briefCategoryItem" 
        [editable]="editable"
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onSettingsChange)="changeResponseSettings($event)"
        (onContentFocus)="responseFocus()"></div>
        <!--Date-->
        <div 
        class="brief-response-type-wrapper"
        *ngSwitchCase="'date'"
        app-brief-response-date
        [briefCategoryItem]="briefCategoryItem" 
        [editable]="editable"
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onSettingsChange)="changeResponseSettings($event)"
        (onContentFocus)="responseFocus()"></div>
        <!--Quantity-->
        <div 
        class="brief-response-type-wrapper"
        *ngSwitchCase="'quantity'"
        app-brief-response-quantity
        [briefCategoryItem]="briefCategoryItem" 
        [editable]="editable"
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onSettingsChange)="changeResponseSettings($event)"
        (onContentFocus)="responseFocus()"></div>
        <!--Assessment-->
        <div 
        class="brief-response-type-wrapper"
        *ngSwitchCase="'assessment'"
        app-brief-response-assessment
        [briefCategoryItem]="briefCategoryItem" 
        [editable]="editable"
        [refillable]="refillable"
        [focusResponse]="focusResponse"
        (onContentChange)="changeResponseContent($event)"
        (onSettingsChange)="changeResponseSettings($event)"
        (onContentFocus)="responseFocus()"></div>
        
      

  </ng-container>
