<div [ngClass]="['comment-thread comment-thread-point-feedback comment-thread-point ' + commentThread.status.key,
                  commentThread.unreadMessages? 'unread-messages' : '']" 
  [style.transform]="'scale('+ 0.5 + ')'" 
  [style.left.px]=" commentThread.originalLeft  * commentThread.frameScale "
  [style.top.px]="commentThread.originalTop * commentThread.frameScale " 
  [style.marginLeft]="(commentThread.originalLeft  * commentThread.frameScale) > 5 ? '-5px' : '0'"
  [style.marginTop]="(commentThread.originalTop  * commentThread.frameScale) > 5 ? '-5px' : '0' ">

  <span>
    {{commentThread.number}}


  </span>
  <span *ngIf="commentThread.saved" class="comment-thread-point-participant">
    <!--Team-->
    <i class="comment-thread-point-participant-icon" *ngIf="commentThread.participantType.key === 'team'" [inlineSVG]="'assets/img/commons/comments/ico_pin_team.svg'"></i>
    <!--Private-->
    <i class="comment-thread-point-participant-icon" *ngIf="commentThread.participantType.key === 'private'" [inlineSVG]="'assets/img/commons/comments/ico_pin_private.svg'"></i>
    <!--Just me-->
    <i class="comment-thread-point-participant-icon" *ngIf="commentThread.participantType.key === 'just-me'" [inlineSVG]="'assets/img/commons/comments/ico_pin_just_me.svg'"></i>
  </span>

</div>