<div class="dropdown-menu-navigation bottom" id="dropdown-filter-team-status" [ngClass]="{'dropdown-menu-empty':workspaceAccesses?.length === 0}">
  <ng-container *ngIf="workspaceAccesses.length > 0">
    <ul class="dropdown-content dropdown-max-height" [perfectScrollbar]="{suppressScrollX:true}">

      <li *ngFor="let status of accountStatuses" [ngClass]="{'active':filterStatus.key === status.key}">
        <a href="javascript:void(0)" (click)="setFilterStatus(status)">
          <span class="team-status">
            
              {{'workspaceAccess.status.'+ status.key | translate}}
            
            <span class="team-status-count">
              <ng-container *ngIf="status.key === 'all'">
                ({{ (workspaceAccesses | filterWorkspaceAccessGuest: view === 'group-inner').length}})
              </ng-container>
              <ng-container *ngIf="status.key !== 'all'">
                ({{(workspaceAccesses 
                | filterBy:['accountStatus.key']:status.key 
                | filterWorkspaceAccessGuest: view === 'group-inner'
                ).length}})
              </ng-container>
            </span>

          </span>
        </a>
      </li>

    </ul>
  </ng-container>
  <ng-container *ngIf="workspaceAccesses.length === 0">
    <ul class="dropdown-content dropdown-max-height">
      <li>Sin participantes para filtrar</li>
    </ul>
  </ng-container>
</div>