<app-mz-modal-brainy #modal [options]="modalOptions" 
  [modalId]="'modal-alter-pitch-finalist'" 
  [modalClass]="'modal-vertically-center modal-alert'">
  <!--Close-->
  <a href="javascript:void(0)" class="modal-close-btn modal-close">
    <i class="icon-svg" [inlineSVG]="'assets/img/commons/ico_closed_medium.svg'"></i>
  </a>
  <div class="modal-content-table">
    <div class="modal-content-cell">
      <div class="modal-content-cell-container">
        <img class="caption" [src]="'assets/img/brief/ilustra_mensaje_ganador.svg'">
        <h4 class="title">
            ¡Felicidades eres ganador!
        </h4>

        <h4 class="message">
            Tu propuesta ha sido seleccionada como ganadora.
        </h4>


      </div>
    </div>
  </div>
</app-mz-modal-brainy>