<div #commentThreadPoint [id]="'thread-'+ commentThread.id" 
    [hidden]="hidden"
    (click)="showCommentSidebarThread($event)" 
    [style.left.%]="100"
    [style.marginLeft.px]="left"
    [style.top.px]="0"
    [ngClass]="[  'comment-thread comment-thread-point-meeting-note comment-thread-point ' + commentThread.status.key,
    commentThread.unreadMessages? 'unread-messages' : ''
]">
    <span>{{commentThread.number}}</span>
    <span *ngIf="commentThread.saved" class="comment-thread-point-participant">
        <!--Team-->
        <i class="comment-thread-point-participant-icon" *ngIf="commentThread.participantType.key === 'team'" [inlineSVG]="'/assets/img/commons/comments/ico_pin_team.svg'"></i>
        <!--Private-->
        <i class="comment-thread-point-participant-icon" *ngIf="commentThread.participantType.key === 'private'" [inlineSVG]="'/assets/img/commons/comments/ico_pin_private.svg'"></i>
        <!--Just me-->
        <i class="comment-thread-point-participant-icon" *ngIf="commentThread.participantType.key === 'just-me'" [inlineSVG]="'/assets/img/commons/comments/ico_pin_just_me.svg'"></i>
    </span>
</div>