<div class="dropdown-menu dropdown-menu-navigation bottom"  id="dropdown-types"
[ngClass]="{'dropdown-menu-empty':cores.length === 0}">
<ng-container *ngIf="cores.length > 0">
  <ul class="dropdown-content dropdown-max-height" [perfectScrollbar]="{suppressScrollX:true}">
    <li [ngClass]="{'active':filterType.key === 'all'}">
      <a href="javascript:void(0)" (click)="setFilterType({id:undefined,key:'all'})">
        <span>Todas</span>
        <span>&nbsp;({{cores.length}})</span>
      </a>
    </li>
    <li *ngFor="let type of coreTypes" [ngClass]="{'active':filterType.key === type.key}">
      <a href="javascript:void(0)" (click)="setFilterType(type)">
        <span>
            {{'core.type.' + type.key | translate}}
        </span>
        <span>&nbsp;({{getCountType(type.key)}})</span>
      </a>
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="cores.length === 0">
    <ul class="dropdown-content  dropdown-max-height">
      <li class="empty">
        <a href="javascript:void(0)">
          No posee tipos
        </a>
      </li>
    </ul>
  </ng-container>
</div>
