<!-- start header nav-->
<div class="navbar-default navbar-fixed ">
  <div class="brand-name-container">
    <a class="brand-name" href="javascript:void(0)"
    (click)="goBack()"
    >
      <i class="icon-svg" [inlineSVG]="'assets/img/logo_brainy.svg'"></i>
      <span id="meeting-note">Feedback</span>
    </a>
  </div>
  <nav class="interface-nav">
    <div class="nav-wrapper ">
      <app-workflow-header 
        [core]="feedback" 
        [coreStatuses]="coreStatuses" 
        [editable]="editable" 
        [canApprove]="canApprove"
        [shareAndApprove]="canShare && isApprover"
         (workflowOnApprove)="workflowOnApprove()"
        (workflowOnDisapprove)="workflowOnDisapprove()" 
        (workflowOnChangeStatus)="workflowOnChangeStatus($event)">
      </app-workflow-header>
      <app-workflow-header-menu 
        [isApprover]="isApprover" 
        [canShare]="canShare" 
        [shareAndApprove]="canShare && isApprover"
        (workflowOnApprove)="workflowOnApprove()"
       (workflowOnShare)="share()">
      </app-workflow-header-menu>
      <app-feedback-toolbar-main
      [isAdmin]="isAdmin"
      [editable]="editable" [workspaceAccess]="workspaceAccess" 
      [dropdownId]="'toolbar-main'" [btnId]="'btn-toolbar-main'"
        [dropdownClass]="'dropdown-toolbar'" [gutter]="0" [belowOrigin]="true" (toolbarOnEdit)="editTitle()" 
        (toolbarOnDownload)="download()"
        (toolbarOnDelete)="delete()" 
        (toolbarOnSearchComments)="searchComments()" (toolbarOnShowVersions)="showVersions()"
        (toolbarOnCancel)="cancel()"></app-feedback-toolbar-main>
    </div>

  </nav>
</div>
<ng-container *ngIf="feedback && feedback.id">
  <!--Modal download-->
  <app-modal-download-project></app-modal-download-project>
  <!--Modal cancel project-->
  <app-modal-cancel-core
  #modalCancel
  [core]="feedback"
  (modalOnCancel)="modalOnCancel()">
</app-modal-cancel-core>
  <!--Modal delete-->
  <app-modal-delete-core
  #modalDelete
  [core]="feedback"
  (modalOnDelete)="modalOnDelete()"
  ></app-modal-delete-core>
  <!--Modal dissaprove-->
  <app-modal-disapprove-core
  #modalDisapprove
  [core]="feedback"
  (modalOnDisapprove)="modalOnDisapprove($event)"
  ></app-modal-disapprove-core>
  <!--Modal Share-->
  <!--Share-->
<app-modal-share-participants
  #modalShare 
    [workspaceAccess]="workspaceAccess" 
    [showShareLink]="true" 
    [invitationLevelId]="'core'"
    [objectType]="'feedback'"
    [objectType]="'core'" 
    [invitationReferenceId]="feedback.id" 
    (onCloseModal)="onCloseModalShare($event)">
</app-modal-share-participants>
<!--Search comments-->
<app-comment-thread-sidenav-search #sidenavSearchComments 
[workspaceAccess]="workspaceAccess"
[coreId]="feedback.id"
[commentThreadStatuses]="commentThreadStatuses"
[commentThreadTypes]="commentThreadTypes"
></app-comment-thread-sidenav-search>
</ng-container>
