<app-aside-nav #sidenavParticipants id="feedback-close-right-sidebar-main" class="primary container" [disableScroll]="true"
  [sideNavMain]="true" [alwaysVisible]="true">
  <div app-sidenav id="feedback-close-right-sidenav" class="side-nav sidenav-with-btn-back
             animated workflow-sidenav workflow-sidenav-right
            rightside-navigation fixed show">
    <div class="visual-feedback-sidenav ">
      <ng-container *ngIf="feedback">
        <!--Toolbar menu-->
        <div class="workflow-toolbar-nav-sidenav">
               
            <ul class="workflow-toolbar-menu">
                <li>
                  <a href="javascript:void(0)" class="btn-burguer" mz-button id="btn-toolbar-main">
                    <i [inlineSVG]="'assets/img/commons/icono_menu.svg'"></i>
                  </a>
                  <app-core-close-toolbar-main [canShare]="canShare" [canRequestModification]="canRequestModification"
                    [canRequestOpen]="canRequestOpen" [canRequestOpenDirect]="canRequestOpenDirect" (onShare)="onShare()"
                    (onDownload)="onDownload()" (onSendByEmail)="onSendByEmail()" (onSearchComments)="onSearchComments()"
                    (onRequestModification)="onRequestModification()" (onRequestOpen)="onRequestOpen()"></app-core-close-toolbar-main>
                </li>
                <li>
                  <a href="javascript:void(0)" class="btn-close" [routerLink]="['/dashboard']">
                    <i [inlineSVG]="'assets/img/commons/icono_closed_big.svg'"></i>
                  </a>
                </li>
              </ul>
        </div>
        <!--Visual-->
        <div class="visual-brainy-object-container" [perfectScrollbar]="{suppressScrollX:true}">
     
          <!--Header-->
          <div class="visual-brainy-object-header">
            <div class="brainy-object-title">
              <span>{{feedback?.title}}</span>
            </div>
            <div class="brainy-object-project">
              <span>{{feedback?.project?.brand?.name}}&nbsp;({{feedback?.project?.name}})</span>
            </div>
            <div class="brainy-object-date">
              <span>Aprobado&nbsp;</span>
              <span class="day">{{feedback?.approvedDate | momentDate:'dddd' | capitalize}}&nbsp;</span>
              <span class="date">{{feedback?.approvedDate | momentDate:'DD/MM/YYYY'}}&nbsp;&nbsp;</span>
              <span class="hour">{{feedback?.approvedDate | momentDate:'hh:mm a'}}</span>

            </div>
            <div class="brainy-object-status">
              <span>
                <i [inlineSVG]="'assets/img/commons/status/status_aprobar.svg'" class="status-icon"></i>
                <span>Aprobada</span>
              </span>
            </div>

          </div>
          <!--Participants-->
          <app-core-close-participants [core]="feedback" [invitations]="invitations" [withoutBorder]="true"></app-core-close-participants>

        </div>
      </ng-container>
    </div>

  </div>
</app-aside-nav>

<ng-container *ngIf="feedback && feedback.id">
  <!--Modal download-->
  <app-modal-download-project #modalDownload></app-modal-download-project>
  <!--Search comments-->
  <app-comment-thread-sidenav-search #sidenavSearchComments [workspaceAccess]="workspaceAccess"></app-comment-thread-sidenav-search>
  <!--Request modification-->
  <app-modal-request-modification #modalRequestModification></app-modal-request-modification>

  <!--Request permission-->
  <app-modal-request-permission #modalRequestPermission></app-modal-request-permission>

  <!--Share-->
  <app-modal-share-participants #modalShare [workspaceAccess]="workspaceAccess" [objectType]="'feedback'"
    [invitationLevelId]="'core'" [invitationReferenceId]="feedback.id"></app-modal-share-participants>
  <app-modal-share-by-email #modalShareByEmail [core]="feedback"></app-modal-share-by-email>
</ng-container>