<div class="dropdown-menu-navigation bottom"  id="dropdown-filter-areas" 
[ngClass]="{'dropdown-menu-empty': templates.length === 0}">
  <ng-container *ngIf="templates.length > 0">
    <ul class="dropdown-content dropdown-max-height" id="dropdown-filter-brands" 
    [perfectScrollbar]="{suppressScrollX:true}">
      <li [ngClass]="{'active':filterArea.id === 'all'}">
        <a href="javascript:void(0)" (click)="setFilterArea({id:'all',name:'all'})">
          <span>
            Todos
          </span>

        </a>
      </li>
      <li *ngFor="let area of areas" [ngClass]="{'active':filterArea.id && filterArea.id === area.id}">
        <a (click)="setFilterArea(area)">
          <span>{{ area.name | ngXtruncate: 28 }}</span>
        </a>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="templates.length === 0">
    <ul class="dropdown-content dropdown-content-empty dropdown-max-height" id="dropdown-filter-brands" [perfectScrollbar]="{suppressScrollX:true}">
      <li class="empty">
        <a href="javascript:void(0)">
          Sin templates
        </a>
      </li>
    </ul>
  </ng-container>
</div>
