<div [id]="'brief-presentation-element-' + element.id" class="brief-presentation-element brief-presentation-image"
  [ngClass]="{'focused':focused,
'dragging':dragging,
'resizing':resizing}" [style.left.px]="element.left"
  [style.top.px]="element.top" [style.width.px]="element.width" [style.height.px]="element.height" [attr.data-x]="element.left"
  [attr.data-y]="element.top" appResizable [resizableAspectRatio]="true" [resizableContainment]="'body'"
  [resizableEnabled]="focused" appDraggable [draggableEnabled]="focused" [draggableContainment]="'body'"
  [draggableHandle]="'.drag-handle'" (resizeOnStart)="onResizeStart($event)" (resizeOnResizing)="onResizing($event)"
  (resizeOnStop)="onResizeStop($event)" (draggableOnStart)="onDragStart($event)" (draggableOnDragging)="onDragging($event)"
  (draggableOnStop)="onDragStop($event)">


  <!--Image-->
  <img #image [src]="element.content.file.url | sanitize:'url'" [style.width.px]="element.width" [style.height.px]="element.height">

  <!--Delete-->
  <a appTooltip [tooltipMessage]="'Eliminar imagen'"  class="brief-image-btn brief-image-btn-delete" (click)="deleteElement()">
    <i class="icon-svg" [inlineSVG]="'assets/img/commons/workflow-header/menu_eliminar.svg'"></i>
  </a>
  <a appTooltip [tooltipMessage]="'Cambiar imagen'" href="javascript:void(0)" 
    class="gallery-image-change" appFilePicker accept="image/*" (filePick)="changeImage($event)">
    <i class="icon-svg" [inlineSVG]="'assets/img/commons/ico_change_img.svg'"></i>
    Cambiar
  </a>

  <!--Resizable-->
  <div class="resizable-handle r-bottom resizable-bottom"></div>
  <div class="resizable-handle r-top  resizable-top"></div>
  <div class="resizable-handle r-left resizable-left"></div>
  <div class="resizable-handle r-right resizable-right"></div>
  <div class="resizable-handle r-bottom r-right resizable-bottom-right"></div>
  <div class="resizable-handle r-top r-left resizable-top-left"></div>
  <div class="resizable-handle r-bottom r-left resizable-bottom-left"></div>
  <div class="resizable-handle r-top r-right resizable-top-right"></div>

  <!--Drag Handle-->
  <div class="drag-handle drag-top"></div>
  <div class="drag-handle drag-bottom"></div>
  <div class="drag-handle drag-left"></div>
  <div class="drag-handle drag-right"></div>

</div>