#modal-floating-note-export {
    .modal-content-table {
        .modal-content-cell {
            .modal-content-cell-container {
                .message-primary {
                    font-weight: $font-regular;
                    font-size: 20px;
                    padding-bottom: 88px;
                }
            }
        }
    }
}