<nav class="interface-nav interface-filter-nav " >
  <div class="container">
    <div class="nav-wrapper">
      <!--Filter-->
      <ul id="nav-dashboard-filter" [ngClass]="{'hide':isShowSearch}">
        <!--Search-->
        <li class="search">
          <a href="javascript:void(0)" (click)="toggleSearch()">
            <i [inlineSVG]="'assets/img/commons/ico_search.svg'" class="icon-svg ng-scope" id="ico-nav-search"></i>
          </a>
        </li>

        <!--Status-->
        <li class="first-nav-item with-dropdown-menu" [ngClass]="{'filter-active':filterArea.id !== 'all'}">
          <a href="javascript:void(0)" appInterfaceDropdown dropdownTarget="#dropdown-filter-areas" center="true">
            <ng-container *ngIf="filterArea.id === 'all'">
              <span>Todos</span>
            </ng-container>
            <ng-container *ngIf="filterArea.id !== 'all'">
              <span>
                {{filterArea.name}}
              </span>
            </ng-container>

            <i class="material-icons caret caret-close right">keyboard_arrow_down</i>
            <i class="material-icons caret caret-open right">keyboard_arrow_up</i>
          </a>
          <!--Dropdown filter categories-->
          <app-dropdown-filter-area [filterArea]="filterArea" [templates]="templates" [areas]="areas"
            (dropdownOnChangeFilterArea)="changeFilterArea($event)"></app-dropdown-filter-area>
        </li>
        <!--FILTER PROJECTS-->
        <li class="with-dropdown-menu filter-order" [ngClass]="{'filter-active':filterOrderChange}">
          <a href="javascript:void(0)" appInterfaceDropdown dropdownTarget="#dropdown-order" center="true">
            <ng-container *ngIf="!filterOrderChange">
              <span>{{ 'dashboard.order' | translate}}</span>
            </ng-container>
            <ng-container *ngIf="filterOrderChange">
              <i class="order-direction" [ngClass]="{'invested':filterOrderDirection === -1}" [inlineSVG]="'assets/img/commons/icono_arrow_up.svg'"></i>
              <ng-container *ngIf="filterOrderColumn === 'name'">
                <span>Ordenar</span>
              </ng-container>
              <ng-container *ngIf="filterOrderColumn === 'modified'">
                <span>Actividad</span>
              </ng-container>
            </ng-container>
            <i class="material-icons caret caret-close right">keyboard_arrow_down</i>
            <i class="material-icons  caret caret-open right">keyboard_arrow_up</i>
          </a>
          <app-dropdown-order [orderAlph]="'title'" [orderDate]="'modified'" [empty]="templates.length === 0"
            [emptyText]="'Sin templates'" [filterOrderColumn]="filterOrderColumn" [filterOrderDirection]="filterOrderDirection"
            (filterOnChangeFilterOrder)="changeFilterOrder($event)">
          </app-dropdown-order>
        </li>

      </ul>
      <!--Create template-->
      <ng-container *ngIf="isAdmin">
        <!--Trigger-->
        <a  class="btn btn-light-2 btn-caret btn-create-template" id='btn-menu-create-template'
          [ngClass]="{'hide':isShowSearch}">
          <span class="text-button">
            Crear
          </span>
          <span class="caret">
            <i [inlineSVG]="'assets/img/share/caret.svg'" class="caret-icon icon-svg"></i>
          </span>
        </a>
        <!--Dropdown-->
        <app-mz-dropdown-brainy [id]="'dropdown-create-template'" [dropdownButtonId]="'btn-menu-create-template'"
          [constrainWidth]="false" [belowOrigin]="true"
          [align]="'right'"
          >
          <li>
            <a href="javascript:void(0)" [routerLink]="['/brief/template']">
              Template
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/brief/template']" [queryParams]="{pitch:'true'}">
              Template de pitch
            </a>
          </li>
        </app-mz-dropdown-brainy>
      </ng-container>

      <!--Search Field-->
      <ng-container *ngIf="isShowSearch">
        <app-input-field-search-nav [search]="mainSearch" [searchPlaceholder]="'Busca nombres de marca'" (inputOnClose)="toggleSearch()"
          (inputOnChangeSearch)="changeMainSearch($event)">
        </app-input-field-search-nav>
      </ng-container>

    </div>

  </div>
</nav>