<!--Sortable-->
<div class="brief-caregory-item-sortable" *ngIf='focusedIn && !enabledCommentsAction && !refillable'>
  <div class="brief-caregory-item-sortable-drag-handle">
    <i class="icon-svg" [inlineSVG]="'assets/img/brief/ico_move_brief.svg'"></i>
  </div>
</div>
<!--Text content-->
<div class="brief-category-item-dynamic-content-wrapper">
  <ng-container *ngFor="let dynamic of briefCategoryItem.content.dynamicContent | orderBy:'order'">
    <ng-container [ngSwitch]="dynamic.type">
      <!--Icon-->
      <app-dynamic-icon *ngSwitchCase="'ICON'" 
        [class.one-child]="briefCategoryItem.content.dynamicContent.length === 1"
        [focused]="focusedIn"
        [icon]="dynamic.content"></app-dynamic-icon>
      <!--Text-->
      <app-dynamic-text *ngSwitchCase="'TEXT'" 
      [class.one-child]="briefCategoryItem.content.dynamicContent.length === 1"
      [text]="dynamic.content"
      [focused]="focusedIn"
      [editable]="editable && !enabledCommentsAction"
      (onChangeText)="updateText($event)"
      ></app-dynamic-text>
    </ng-container>
  </ng-container>
</div>

<!--Toolbar Bottom-->
<div class="brief-category-item-toolbar-bottom" *ngIf="focusedIn && !enabledCommentsAction && !refillable">
  <ul class="brief-category-item-options">
    <li>
      <a 
        appTooltip
        [tooltipMessage]="'Copiar item'"
        href="javascript:void(0)" (click)="copy()" class="disable-brief-comment">
        <i [inlineSVG]="'assets/img/brief/ico_duplicar.svg'" class="icon-svg ico-copy"></i>
      </a>
    </li>
    <li>
      <a 
      appTooltip
      [tooltipMessage]="'Eliminar item'"
        href="javascript:void(0)" class="closest-alert disable-brief-comment" app-alert-dialog [message]="'¿Quieres elminar el texto?'"
        [edge]="'right'" [acceptText]="'Si'" [cancelText]="'No'" [alertClass]="'alert-brief-category-item alert-disabled-trigger'"
        [alertOverlayClass]="'alert-disabled-trigger'" (alertOnAccept)="delete()">
        <i [inlineSVG]="'assets/img/commons/workflow-header/menu_eliminar.svg'" class="icon-svg ico-delete"></i>
      </a>
    </li>
  </ul>

</div>

