<app-aside-nav #meetingNoteListSidenav id="meeting-note-list-associated-sidenav" class="tertiary" [disableScroll]="true"
  (asideOnHide)="onHide()" (asideOShow)="onShow()">
  <div app-sidenav id="slide-out-associated-meeting-note-list" class="side-nav  rightside-navigation animated   box-shadow-line">
    <!--Header Sidenav-->
    <div class="header-big">
      <h5 class="header-title">
        Minutas
        <ng-container *ngIf="meetingNotes">
          <span *ngIf="meetingNotes.length > 0">({{meetingNotes.length}})</span>
        </ng-container>
        <!--Menu Tollbar-->
        <ul class="menu-toolbar-header">

          <li>
            <a class="close close-sidenav" href="javascript:void(0);">
              <i class="icon-svg" [inlineSVG]="'assets/img/commons/sidenav/ico_closed.svg'"></i>
            </a>

          </li>
        </ul>
      </h5>
    </div>
    <!--Draft List-->
    <ng-container *ngIf="meetingNotes">
      <div class="core-list" [perfectScrollbar]="{supressScrollX:true}">
        <div class="meeting-note-associated-block" (click)="viewMeetingNote(meetingNote)" *ngFor="let meetingNote of meetingNotes; let last = last"
          [ngClass]="{ 'last': last}">
          <img class="core-associated-ico" src="assets/img/commons/icono_minuta.svg">
          <div class="core-associated-block-table">
            <div class="core-associated-block-table-cell">
              <div class="core-associated-block-content">
                <div class="core-title">
                  <span>{{meetingNote.title}}</span>
                </div>
                <div class="core-date">
                  <span>
                    {{ meetingNote.created | momentDate:'DD/MM/YYYY HH:mm' }}
                  </span>
                </div>
                <div class="core-project">
                  <span>{{meetingNote.project.brand.name}} ( {{meetingNote.project.name}} )</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="without-results" *ngIf="meetingNotes.length === 0">
          {{ 'commons.without-results' | translate }}
        </h3>
      </div>
    </ng-container>
  </div>
</app-aside-nav>