<ng-content></ng-content>

<div #alertDialog class="alert-dialog-container">
    <div  class="alert-dialog-overlay {{alertOverlayClass}}" 
    (click)="cancelFn()" ></div>
    <div [id]="alertId" class="alert-dialog  
    {{alertClass}}" >
        <div class="alert-dialog-content">
            <p class="message">
                {{message}}
            </p>
            <div class="alert-dialog-buttons">
                
                <a href="javascript:void(0)" class="alert-cancel-button" (click)="cancelFn()">
                    {{cancelText}}
                </a>
                <a href="javascript:void(0)" class="alert-accept-button" (click)="acceptFn()">
                    {{acceptText}}
                </a>

            </div>
        </div>
    </div>
</div>
