<app-mz-modal-brainy #modal [options]="modalOptions" [modalId]="'modal-approve-core'" [modalClass]="'modal-vertically-center modal-delete'">
  <!--Close-->
  <a href="javascript:void(0)" class="modal-close-btn modal-close">
    <i class="icon-svg" [inlineSVG]="'assets/img/commons/ico_closed_medium.svg'"></i>
  </a>
  <div class="modal-content-table">
    <div class="modal-content-cell">
      <div class="modal-content-cell-container modal-content-full-width">
        <ng-container *ngIf="core">
          <h4 class="title">
              {{ 'dashboard.modal-disapprove.title.'+ core.type.key | translate  }}
          </h4>
          <p class="message">
            Al desaprobar el proyecto no podrás comentar ni editar.
          </p>
          <div class="modal-content-buttons">
            <button class="btn btn-medium-large btn-outline-line cancel  modal-close">
              CANCELAR
            </button>
            <button class="btn btn-medium-large
                last-button" 
              [disabled]="disapproving" 
              [appBtnLoading]="disapproving"
              (click)="disapprove()">
              {{ disapproving ? 'DESAPROBANDO': 'SI, DESAPROBAR'}}</button>


          </div>
        </ng-container>
      </div>
    </div>
  </div>
</app-mz-modal-brainy>