<div class="sub-topic-editable-container" [class.editing]="iEditable">
    <!--Drag Handle-->
    <a class="sub-topic-drag-handler" href="javascript:void(0)" *ngIf="!iEditable">
        <i class="icon-svg" [inlineSVG]="'assets/img/feedback/icono_ordenar_feedback.svg'"></i>
    </a>
    <!--Sub topic content-->
    <span class="sub-topic-content" (click)="gotToSubTopic()">
        <ng-container *ngIf="item.content.text === '' || item.content.text === topicLineTextEmpty  ||
         item.content.text === topicLineTextEmpty2  ; else subtopicNotEmpty">
            Subtema sin titulo
        </ng-container>
        <ng-template #subtopicNotEmpty>
            <span [innerHTML]="item.content.text"></span>
        </ng-template>
    </span>
    <!--Sub topic Editor-->
    <span class="sub-topic-content-editable">
        <span class="editor" *ngIf="visible" #editor autocomplete="off" autocorrect="off" autocapitalize="off"
            spellcheck="false" placeholder="Escribe un subtema" 
            [contentEditable]="editable" [(contentEditableModel)]="item.content.text"
            [sanitizeHTML]="false"
            (contentEditableModelChange)="onChangeSubTopic($event)" (blur)="blurEditor()"></span>
    </span>
    <!--Menu-->
    <ul *ngIf="editable && !iEditable" class="topic-menu-options-sidenav">
        <li>
            <a class="edit" href="javascript:void(0)" (click)="editTitle()">
                <i class="icon-svg" [inlineSVG]="'assets/img/commons/workflow-header/menu_editar.svg'"></i>
            </a>
        </li>
        <li>
            <a class="remove" href="javascript:void(0)" app-alert-dialog [message]="'¿Estas seguro de eliminar el subtema?'"
                [acceptText]="'Si'" [cancelText]="'No'" [alertClass]="'alert-meeting-note-sidenav'" (alertOnAccept)="removeTopic()">
                <i class="icon-svg" [inlineSVG]="'assets/img/commons/ico_closed_medium.svg'"></i>
            </a>
        </li>
    </ul>
</div>