<ul class="content-editable-menu" [ngClass]="{'show':show}">
  <li>
    <a href="javascript:void(0)" (mousedown)="execute($event,'bold')">
      <i class="icon-svg" [inlineSVG]="'assets/img/commons/content-editable/icono_bold.svg'"></i>
    </a>
  </li>
  <li>
    <a href="javascript:void(0)" (mousedown)="execute($event,'italic')">
      <i class="icon-svg" [inlineSVG]="'assets/img/commons/content-editable/icono_italic.svg'"></i>
    </a>
  </li>
  <li>
    <a href="javascript:void(0)" (mousedown)="execute($event,'underline')">
      <i class="icon-svg" [inlineSVG]="'assets/img/commons/content-editable/icono_underline.svg'"></i>
    </a>
  </li>
  <ng-container *ngIf="unorderedList">
    <li>
      <a href="javascript:void(0)" (mousedown)="execute($event,'insertUnorderedList')">
        <i class="icon-svg" [inlineSVG]="'assets/img/commons/content-editable/icono_unordered_list.svg'"></i>
      </a>
    </li>
  </ng-container>
  <ng-container *ngIf="align">
    <li>
      <a href="javascript:void(0)" (click)="executeCommand($event,'justifyleft')">
          <i class="icon-svg" [inlineSVG]="'assets/img/commons/content-editable/icono_align_left.svg'"></i>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="executeCommand($event,'justifyCenter')">
        <i class="icon-svg" [inlineSVG]="'assets/img/commons/content-editable/ico_aling_center.svg'"></i>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="executeCommand($event,'justifyRight')">
          <i class="icon-svg" [inlineSVG]="'assets/img/commons/content-editable/icono_align_right.svg'"></i>
      </a>
    </li>
  </ng-container>
</ul>