.brand-profile-summary-wrapper {
    position: relative;
    height: 189px;
    .brand-profile-summary-nav {
        position: fixed;
        background: #fff;
        width: 100%;
        z-index: 5;
        border-bottom: 1px solid #E5E3E3;
        .brand-profile-summary-content {
            position: relative;
            .brand-profile-summary-breadcrumb {
                position: absolute;
                text-align: left;
                left: 0;
                top: 38px;
                >a {
                    display: inline-block;
                    color: $primary-color;
                    line-height: 24px;
                    font-size: 12px;
                    letter-spacing: 0.04px;
                    >i {
                        font-size: 20px;
                        float: left;
                        margin-right: 10px;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
                @include mq($until: desktop) {
                    top: 4px;
                }
            }
            .brand-profile-summary {
                padding-top: 64px;
                max-width: 870px;
                margin: 0 auto;
                .brand-information {
                    width: 100%;
                    padding-bottom: 45px;
                    position: relative;
                    .brand-information-container {
                        position: relative;
                        padding-left: 110px;
                        padding-top: 18px;
                        min-height: 80px;
                        .brand-logo-link {
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            .brand-logo {
                                position: relative;
                                left: 0px;
                                top: 0px;
                            }
                            &:hover {
                                opacity: 0.6;
                            }
                        }
                        .brand-name-container {
                            display: block;
                            .brand-name {
                                display: inline-block; // padding-left: 25px;
                                font-weight: $font-medium;
                                font-size: 18px;
                                color: $primary-color;
                                letter-spacing: 0.38px;
                                line-height: 21px;
                                position: relative;
                                .brand-name-ico-back {
                                    position: absolute;
                                    width: 10px;
                                    text-align: center;
                                    top: 0px;
                                    left: 0px;
                                    font-size: 20px;
                                    color: $primary-color;
                                }
                                &:hover {
                                    opacity: 0.6;
                                }
                            }
                        }
                        .brands-projects-container {
                            display: block;
                            padding-top: 8px;
                            .brands-projects {
                                display: inline-block;
                                font-size: 14px;
                                line-height: 16px;
                                color: $purple-color-light;
                                &:hover {
                                    opacity: 0.6;
                                }
                                &.inactive {
                                    color: rgba($primary-color, 0.4);
                                    &:hover {
                                        color: $purple-color-light;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    } //Participants
                    .team-box-participants-wrapper {
                        margin-top: 30px;
                        float: right; // padding-right: 15px;
                        .team-box-participants {
                            display: inline-block;
                            width: auto;
                        }
                        >a {
                            display: block;
                            margin-top: 7px;
                            text-align: center;
                            font-size: 12px;
                            line-height: 14px;
                            color: rgba($primary-color, 0.4);
                        }
                        &:hover {
                            cursor: pointer;
                            >a {
                                color: $purple-color-light;
                            }
                        }
                        &.active {
                            
                            > a {
                                color: $purple-color-light;
                                &:hover {
                                    opacity: 0.6;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.projects {
        // min-height: 168px;
        .brand-profile-summary-nav {
            border-color: #fff;
        }
    }
}

//Members filter
.brand-profile-members-filter {
    @extend .subsections-header;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    .navbar-default {
        &.navbar-filter {
            .interface-filter-nav {
                background-color: $primary-background-color;
                border-bottom: transparent;
                .container {
                    // max-width: 860px;
                    #nav-dashboard-filter {
                        height: 40px;
                        line-height: 40px;
                        margin-top: 12px;
                        >li {
                            >a {
                                height: 40px;
                                line-height: 40px;
                                font-size: 14px;
                                >i {
                                    line-height: 40px;
                                    height: 40px;
                                }
                            }
                            &.search {
                                >a {
                                    padding: 0 30px;
                                    >i {
                                        svg {
                                            height: 15px;
                                        }
                                    }
                                }
                            }
                            .dropdown-menu-navigation {
                                margin-top: -10px;
                            }
                        }
                    }
                    .add-other-btn {
                        position: absolute;
                        right: 0;
                        top: 18px;
                        color: $purple-color-light;
                        line-height: 30px;
                        height: 30px;
                        font-size: 12px;
                        >i {
                            float: left;
                            font-size: 12px;
                            line-height: 30px;
                            height: 30px;
                            margin-right: 8px;
                            svg {
                                margin-bottom: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}