
  <ng-container [ngSwitch]="item.responseType.key">
      <ng-content></ng-content>
      <!--Text-->
      <div 
        class="category-item-close-response-text"
        [item]="item" 
        *ngSwitchCase="'text'" 
        app-category-item-close-response-text
      ></div>
      <!--Text Large-->
      <div 
        class="category-item-close-response-text"
        [item]="item" 
        *ngSwitchCase="'text-large'"
        app-category-item-close-response-text
      ></div>
    <!--Checkbox-->
      <div 
      [item]="item" 
      app-category-item-close-response-checkbox
      class="category-item-close-response-checkbox"
        *ngSwitchCase="'checkbox'"
      ></div>
      <!--Radio-->
      <div 
      [item]="item" 
      app-category-item-close-response-radio
      class="category-item-close-response-radio"
        *ngSwitchCase="'radio'"
      ></div>
      <!--Select-->
      <div 
      [item]="item" 
      app-category-item-close-response-select
      class="category-item-close-response-radio"
        *ngSwitchCase="'select'"
      ></div>
      <!--List-->
      <div 
      [item]="item" 
      app-category-item-close-response-list
      class="category-item-close-response-list"
        *ngSwitchCase="'list'"
      ></div>
      <!--Yes no-->
      <div 
      [item]="item" 
      app-category-item-close-response-yes-no
      class="category-item-close-response-yes-no"
        *ngSwitchCase="'yes-no'"
      ></div>
      <!--Ascendent-->
      <div 
      [item]="item" 
      app-category-item-close-response-ascendent
      class="category-item-close-response-ascendent"
        *ngSwitchCase="'ascendent'"
      ></div>
      <!--Date-->
      <div 
      [item]="item" 
      app-category-item-close-response-date
      class="category-item-close-response-date"
        *ngSwitchCase="'date'"
      ></div>
      <!--Quantity-->
      <div 
      [item]="item" 
      app-category-item-close-response-quantity
      class="category-item-close-response-quantity"
        *ngSwitchCase="'quantity'"
      ></div>
      <!--Assessment-->
      <div 
      [item]="item" 
      app-category-item-close-response-assessment
      class="category-item-close-response-assessment"
        *ngSwitchCase="'assessment'"
      ></div>
      <!--Table-->
      <div 
      [item]="item" 
      app-category-item-close-response-table
      class="category-item-close-response-table"
        *ngSwitchCase="'table'"
      ></div>

  </ng-container>
